<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>680941561279-iblnhng1op6pm79k0gk6dj6igd3eu7ch.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.680941561279-iblnhng1op6pm79k0gk6dj6igd3eu7ch</string>
	<key>API_KEY</key>
	<string>AIzaSyA3wPm0y-ibxAD5qXCxTqz3yReluwcFbDE</string>
	<key>GCM_SENDER_ID</key>
	<string>680941561279</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ru.hse.Bike-Sharing</string>
	<key>PROJECT_ID</key>
	<string>bikesharing-1555957658297</string>
	<key>STORAGE_BUCKET</key>
	<string>bikesharing-1555957658297.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:680941561279:ios:c16e7a08a382c0d4</string>
	<key>DATABASE_URL</key>
	<string>https://bikesharing-1555957658297.firebaseio.com</string>
</dict>
</plist>